{% extends "WhosThatIdolBundle:Default:layout.html.twig" %}

{% block content %}
    {% if sampleResult|length > 0 %}
        <div class="row justify-content-lg-center">
            <div class="col-lg-12">
                <h4 class="sample-image-headline">Hmm, look who we found!</h4>
                <div class="sample-image-center">
                    <div class="sample-image-container">
                        <img src="data:{{ sampleResult.imageMime }};base64,{{ sampleResult.imageB64 }}" class="rounded"
                             style="width: {{ sampleResult.displayWidth }}px; height: {{ sampleResult.displayHeight }}px;">
                        {% if sampleResult.faces|length > 0 %}
                            {% for face in sampleResult.faces %}
                                <div class="face-box">
                                    <div style="
                                            top: {{ face.scaledTopLeftY }}px;
                                            left: {{ face.scaledTopLeftX }}px;
                                            height: {{ face.scaledWidth }}px;
                                            width: {{ face.scaledHeight }}px;"
                                        class="face-area"
                                         data-face-top="{{ face.topLeftY }}"
                                         data-face-left="{{ face.topLeftX }}"
                                         data-face-width="{{ face.width }}"
                                         data-face-height="{{ face.height }}"
                                         data-idol-name="{{ face.name }}"
                                         data-group-name="{{ face.groups|join(', ') }}"
                                    >
                                        <i class="fa fa-question-circle fa-2x"
                                           style="" aria-hidden="true"></i>
                                    </div>
                                    <p style="
                                            top: {{ face.scaledTopLeftY + face.scaledWidth + 3 }}px;
                                            left: {{ face.scaledTopLeftX }}px;"
                                       class="rounded">
                                        {% if face.name != "" %}
                                            <b>{{ face.name }}</b>{% if face.groups|length > 0 %} of <b>{{ face.groups|join(', ') }}</b>{% endif %} ({{ face.confidence }} %)
                                        {% else %}
                                            <b>Too nugu?</b> We don't know who that is!
                                        {% endif %}
                                    </p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger" role="alert">
                                <strong>What?</strong> We were unable to recognize any face in the picture. :(
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {#
    <div class="col-lg-12">
        {% if idolsFound|length > 0 %}
            {% for idolFound in idolsFound %}
                <p>Hi <b>{{ idolFound.id }}</b> at X: {{ idolFound.topLeftX }} Y: {{ idolFound.topLeftY }}
                    Confidence: {{ idolFound.confidence }}</p>
            {% endfor %}
        {% else %}
            <p>Unable to recognize idol. :(</p>
        {% endif %}
    </div>
    #}

    <div class="jumbotron">
        <h1 class="display-3">Who's that nugu?</h1>
        <p class="lead">Upload a picture of a korean idol and we will tell you who it is.</p>
        <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Upload!</a></p> -->

        {{ form_start(uploadForm) }}
            {{ form_errors(uploadForm) }}
            <label class="custom-file">
                {{ form_widget(uploadForm.idolPicture, {'attr': {'class': 'custom-file-input'}}) }}
                <span class="custom-file-control"></span>
            </label>
            {{ form_errors(uploadForm.idolPicture) }}
            {# {{ form_row(uploadForm.idolPicture) }} #}
            {{ form_row(uploadForm.submit) }}
        {{ form_end(uploadForm) }}
    </div>

    <div class="modal fade" id="submitFaceModal" tabindex="-1" role="dialog" aria-labelledby="submitFaceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="submitFaceModalLabel">Submit an unknown face or false detection</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Who is this?</h1>
                            <img class="rounded" src="">
                            <form>
                                <div class="form-group">
                                    <label for="face-idol-name" class="form-control-label">Idol Name:</label>
                                    <input type="text" class="form-control" id="face-idol-name">
                                </div>
                                <div class="form-group">
                                    <label for="face-group-name" class="form-control-label">Group(s):</label>
                                    <input type="text" class="form-control" id="face-group-name">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submitFaceModalSubmitButton">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}